{% extends 'deepdive/layout.html' %} 
{% load static %}

{% block title %} 
Home
{% endblock %}

{% block body %} 
{% if request.user.username == 'ashok' %}
<div id="newPost" class="textBox postForm" >
    <h1>Create new post.</h1>
    <form id="newPostForm">
        Title <input type="text" id="newPostTitle" required><br><br>
        Image URL <input type="text" id="newPostImage" required><br><br>
        Category 
        <select id="newPostcategory">
            <option value="ideal">Ideal</option>
            <option value="home" selected>Home</option>
            <option value="improvement">Improvement</option>
            <option value="activity">Activity</option>
          </select>
          <br><br>
        Description<textarea id="newPostDesc" cols="30" rows="3" required></textarea><br>
        <button class="button" type="submit">Post</button>
    </form>
</div>
{% endif %}


<h1 class="post_title">General</h1>
<div class="box" id="home">
    {% for post in posts %} 
    {% if post.page == 'home' %}
        <div class="textBox">          
            <img
            src="{{post.image}}" class="post_img"  onerror="this.onerror=null; this.src='https://images.pexels.com/photos/159868/lost-cat-tree-sign-fun-159868.jpeg'"/>

            <a class="post_title" href="{% url 'post_details' slug=post.slug %}">{{ post.title }}</a>
        </div>
    {% endif %}
    {% endfor %}
</div>

<h1 class="post_title">Ideal World</h1>
<div class="box" id="ideal">
    {% for post in posts %} 
    {% if post.page == 'ideal' %}
        <div class="textBox">            <img
            src="{{post.image}}" class="post_img"  onerror="this.onerror=null; this.src='https://images.pexels.com/photos/159868/lost-cat-tree-sign-fun-159868.jpeg'"/>

            <a class="post_title" href="{% url 'post_details' slug=post.slug %}">{{ post.title }}</a>
        </div>
    {% endif %}
    {% endfor %}
</div>
   

<h1 class="post_title">Activity </h1>
<div class="box" id="activity">
    {% for post in posts %} 
    {% if post.page == 'activity' %}
        <div class="textBox">            <img
            src="{{post.image}}" class="post_img"  onerror="this.onerror=null; this.src='https://images.pexels.com/photos/159868/lost-cat-tree-sign-fun-159868.jpeg'"/>

            <a class="post_title" href="{% url 'post_details' slug=post.slug %}">{{ post.title }}</a>
        </div>
    {% endif %}
    {% endfor %}
</div>


<h1 class="post_title">Overcoming myself</h1>
<div class="box" id="improvement">
    {% for post in posts %} 
    {% if post.page == 'improvement' %}
        <div class="textBox">            <img
            src="{{post.image}}" class="post_img"  onerror="this.onerror=null; this.src='https://images.pexels.com/photos/159868/lost-cat-tree-sign-fun-159868.jpeg'"/>

            <a class="post_title" href="{% url 'post_details' slug=post.slug %}">{{ post.title }}</a>
        </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block script %} 
<script type="text/javascript" src="{% static 'deepdive/index.js' %}"></script>
{% endblock %}