{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}

    {% endblock %}
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'deepdive/style.css' %}">
</head>

<body>
  <div class=box1>
    <header class="header">
      <nav class="nav">
        <div>
          <a href="{% url 'index' %}" class="nav_item"><strong>AatmaPrem</strong> </a>
        </div>
        
        <div><a href="{% url 'journal' %}" class="nav_item">Journal</a></div>
        <div><a href="{% url 'mindfulness' %}" class="nav_item">Mindfulness</a></div>
        <div><a href="{% url 'analyzingPeople' %}" class="nav_item">AnalyzePeople</a></div>
        <div><a href="{% url 'user' %}"><img src="{% static 'deepdive/user.png' %}"></a></div>
      </nav>
      
      
    </header>

  {% block body %} 

  {% endblock %}

  </div>
  <footer>
    

    <div>All right reserved.</div>
  </footer>
  
  {% block script %}

  {% endblock %}
</body>

</html>