* {
    padding: 0px;
    margin: 0px;
  }

  body {
    background-color:#b1c4c9;
    padding: 5px;
    width: 100%;
  }

  .box{
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
  }
  .box1{
    width: 100%;
    overflow: hidden;

  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-right: 0px;
    background-color: rgb(206, 98, 98);
  }


  .nav_item {
    text-decoration: none;
    color: white;

  }
  

  .textBox {
    margin: .6rem;
    padding: .3rem;
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  transition: all .4s ease-in-out;
  background-color:#bfeaf5;
}
  .journal{
    margin: .6rem;
    padding: .3rem;
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  border: solid black 1px;
  }
  
  .form_container{
    width: 100%;
    display: flex;
    justify-content: center;
  }

.post_img{
width: 15rem;
  aspect-ratio: 2/1.2;
  object-fit: cover;
  border-radius: .6rem;
}
.post_title{
  font-family: sans-serif;
  font-weight: bolder;
  padding: .8rem .2rem;

}
.post_desc{
  color: rgb(66, 66, 66);
  font-family: sans-serif;
  text-transform: capitalize;

}

.textBox:hover {
  box-shadow:  2px 2px 5px gray,
            -2px -2px 5px gray;
            transform: scale(1.08);

}

.box2 {
  margin-top: 30px;
  padding: 30px;
}
form div {
  display: flex;
  flex-direction: column;
}
form {
  text-align: center;
  align-items: center;
}
form input {
  font-size: 20px;
  border-radius: 20px;
  border: solid 3px white;
}
.button {
  color: green;
  border: solid 2px white;
  font-size: 20px;
  border-radius: 8px;
  margin-top: 30px;
  padding: 2px 20px;
}
.button:hover {
  color: white;
  background-color: rgb(15, 247, 181);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}
footer div {
  margin-top: 30px;
}
footer div i {
  margin-left: 30px;
}
footer div i:hover {
  color: green;
}
.photo {
  height: 60px;
  width: 60px;
  margin-left: 0px;
  border: solid;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
}





textarea{
border-radius: 10px;
}

.postForm{
  width: 100%;
  max-width: 35rem;
  justify-self: center;
}

.posts{
display: flex;flex-wrap: wrap;
}

.post_details{
  padding: 20px;

  border-radius: 0.3rem;
  background-color: #87abb3;
}
